
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width"/>
	<title>View</title>

	@Styles.Render("~/Content/css")


	<script type="text/javascript" charset="utf-8" id="zm-extension" src="chrome-extension://fdcgdnkidjaadafnichfpabhfomcebme/scripts/webrtc-patch.js" async=""></script>


	<!--<base href="https://editor.webconstructor.site:443/data/2/d/2d69bb34.test.test/preview/">--><!--<base href=".">-->
	<base href=".">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- Facebook Open Graph -->
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="article">
	<meta property="og:url" content="https://editor.webconstructor.site/data/2/d/2d69bb34.test.test/preview">
	<!-- Facebook Open Graph end -->
	<script type="text/javascript"> window.wbPreview = true;</script>

	<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="~/Content/common_1.css" rel="stylesheet" type="text/css">
	<link href="~/Content/common_site.css" rel="stylesheet" type="text/css">
	<link href="~/Content/flag-icon.min.css" rel="stylesheet" type="text/css">
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="~/Content/translateelement.css" rel="stylesheet" type="text/css">

	<link rel="icon" href="https://editor.webconstructor.site/builder-favicon" type="image/x-icon">
	<script type="text/javascript">
		window.useTrailingSlashes = false;
	</script>

</head>
<body style="height: 1258px; min-height: 1258px;">
	<div class="root" style="height: 1258px; min-height: 1258px;">
		<div class="vbox wb_container" id="wb_header">

			<div class="wb_cont_inner">

				<div id="wb_element_instance_vmv" class="wb_element wb_element_picture" title="" ><img alt="галерея / логотип" src="~/images/vmv.png" ></div>
				<div id="wb_element_instance2" class="wb_element wb_element_picture" title=""><a href="http://facebook.com/" target="1"><img alt="галерея / facebook" src="./BusinesVMV_test_files/293d1af6168de6fd3c9ac2f2baa746f5.png"></a></div>
				<div id="wb_element_instance3" class="wb_element wb_element_picture" title=""><a href="http://twitter.com/" target="1"><img alt="галерея / твиттер" src="./BusinesVMV_test_files/b0f78cb09771d87df8d88c93daae8102.png"></a></div>
				<div id="wb_element_instance4" class="wb_element wb_element_picture" title=""><a href="http://google.com/" target="1"><img alt="галерея / Google-плюс" src="./BusinesVMV_test_files/8e3ec60c0f0a6c2299ce0df0e3e9f114.png"></a></div>


				<div id="wb_element_instance0" class="wb_element wb-menu wb-menu-mobile">
					<a class="btn btn-default btn-collapser" style="">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<ul class="hmenu" style="top: 29px;">
						<li class="active">
							<a href="https://editor.webconstructor.site/data/2/d/2d69bb34.test.test/preview/" target="_self">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">Главная</font>
								</font>
							</a>
						</li>

						<li class="">
							<a href="https://editor.webconstructor.site/data/2/d/2d69bb34.test.test/preview/Services" target="_self">
								<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Сервисы</font></font>
							</a>
						</li>

						<li class="">
							<a href="https://editor.webconstructor.site/data/2/d/2d69bb34.test.test/preview/Products" target="_self">
								<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Товары</font></font>
							</a>
						</li>

						<li>
							<a href="https://editor.webconstructor.site/data/2/d/2d69bb34.test.test/preview/Contacts" target="_self">
								<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">контакты</font></font>
							</a>
						</li>
					</ul>

					<div class="clearfix"></div>
				</div>

				<div id="wb_element_instance1" class="wb_element wb_text_element" style="line-height: normal;">

					<p class="wb-stl-normal" style="text-align: right;"><span class="wb_tr_ok"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Подписывайтесь на нас</font></font></span></p>
				</div>





			</div><div class="wb_cont_bg"></div>
		</div>
	</div>
</body>
</html>
